{% extends 'email/email_base.html.twig' %}

{# {% block title %}Hello HomeController!{% endblock %} #}


{% block body %}
	<h1>{{ "email.password_reset.title"|trans }}</h1>

	<p>
		{{ "email.password_reset.not_requested_info"|trans }}
	</p>

	<p>
		{{ "email.password_reset.login_ensure_correct"|trans }}
	</p>

	<p>
		<a href="{{ url|e("html_attr") }}">
			{{ "email.password_reset.confirm_link"|trans }}
		</a>
		<br>
		{{ url }}
	</p>
{% endblock %}
