{% extends 'email/email_base.html.twig' %}

{# {% block title %}Hello HomeController!{% endblock %} #}


{% block body %}
	<h1>{{ "email.register.title"|trans }}</h1>

	<p>
		{{ "email.register.not_requested_info"|trans({login: login}) }}
	</p>

	<p>
		{{ "email.register.login_ensure_correct"|trans }}
		<br>
		<b>{{ login }}</b>
	</p>

	<p>
		<a href="{{ url|e("html_attr") }}">
			{{ "email.register.confirm_link"|trans }}
		</a>
		<br>
		{{ url }}
	</p>
{% endblock %}
